@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
body{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 16px; color: #666666; margin: 0}
.img-100{width:100%; height: auto}
/*img: get image to needed size in box
margin:0 to center, auto to perfect*/

/*phan header*/
.container{ width: 80%; margin: 0 auto}
/*margin: 0 auto. to center within the header*/
.header{ width:100%; height: 50px; background-color:#F99F35}
.logo{Float: left}
.menu{float: right; padding-top: 17px}
.menu a{padding: 10px 20px; text-decoration: none; font-weight: 600; font-size: 17px; text-transform: capitalize; color: white;	}
.menu a:hover{color:red}
/*menu a: give extra adjective to menu
hover: mouse action*/

/*main*/
main { width: 100%; min-height: 500px; clear: both}
/*remember to add before container to start the zone*/
.w-25 { width:25%; padding: 15px; float: left}
/*create collumn; auto go down*/
.vien { width: 100%; min-height: 200px; border: 1px solid blue; border-radius: 10px; padding: 10px;text-align: center; margin-top: 30px; margin-bottom: 30px }
/*create box for content*/
.bo-goc {border-radius: 10px}
/*border-radious: round corner, use for image*/
.tour {color:#3735A8; font-size:19px}
.gia {color:#272424; font-weight: bold }

/*form*/
.form-control {padding: 8px; margin-bottom: 10px; width: 100%}
.nut {paddi: 10px 20px;background-color: orange; border-radius: 28px; cursor: pointer}
.nut-nhap {padding: 10px 20px; background-color: green; color: white; border: green; border-radius: 28px; cursor: pointer}
.nut-nhap:hover {background-color: red }
.w-40 { width: 40%; padding: 15px; float:left}
.w-60 { width: 60%; padding: 15px; float:left}
.map { width: 100%; min-height: 200px; border: 1px solid gray; border-radius: 10px; padding: 10px;text-align: center; margin-top: 30px; margin-bottom: 30px}

footer {width:100%; height: 50px; background-color:#F99F35; clear: both; text-align: center; color: white; line-height: 50px}